
.maindiv {
    /* font-family: Never Settle,Ma Shan Zheng,New Tegomin,serif; */
    font-family: arial !important;
    background-color: rgba(245, 245, 245, 0.933);
    padding: 2rem;
    display: block;
    border-radius: 1rem;
    height : 80vh!important;
}

.text-dark { 
    color: #000!important;
    padding: 0px;
    margin-top: 5%;
    text-align: center;
    font-size: 64pt;
    /* font-family: URW Chancery L, cursive; */
    font-family: arial !important;
}

.content{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position : relative;
    width : 100%;
    height : 100vh;
    padding-bottom: 2rem;
    z-index: 15;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.ehterAmount  {
    font-size: 28pt;
    font-style: URW;
    /* font-family: Comic Sans MS, Comic Sans, cursive; */
    font-family: arial !important;
    color: #000 !important;
    text-align : center;
    margin : 5%
}
.amount {
    margin : 0;
    font-size: 28pt;
    font-style : normal;
    color: #000 !important;
    text-align : center;
  
}
.mintAmount {
    /* font-family : Trattatello, fantasy; */
    font-family: arial !important;
    display: inline;
    margin : 20px;
    font-size: 50px;
    color: black;
    user-select:none;
    -moz-user-select:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
.counter{
    margin:30px;
    text-align: center;
}
.mintButton{
    font-size: 2em;
    /* font-family: Brush Script MT, Brush Script Std, cursive; */
    font-family: arial !important;

    border: none;
    color : white;
    background-color: transparent;
    box-sizing: border-box;
    padding: 1rem 4rem;
    width: auto;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    z-index: 5;
    text-align: center;
    background-image: url(brush.png);
    background-size: 100% 100%;
    background-origin: padding-box;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transition: all .3s;
    transition: all .3s;

}
.walletAddress { 
    text-align: center;
    font-size: 1rem;
    color : gray;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: arial !important;
    font-style: italic;
}
.mintButton:hover {
    cursor: pointer;
    width: max-content;
    color: #fd0211;
    transform: scaleX(1.5);
}
.mintButton:hover {
    cursor: pointer;
    width: max-content;
    color: #fd0211;
}
.but {
    text-align: center;
}
.minus:hover {
    color : red;
}
.plus:hover {
    color : red;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .content {
            background-image: url(king.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            border-image-repeat: no-repeat;
        }
    }
@media only screen and (min-width: 800px) {
        /* For mobile phones: */
            .content {
                background-image: url(background.png);
                background-repeat: no-repeat;
                background-size: cover;
                border-image-repeat: no-repeat;
                
            }
        }